@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* ------Variables------ */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #06096f;
  --secondary-color: #CF6DC8;
  --tertiary-color:#626eb3;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --tertiary-color: #211f32;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}/*setting variables of css*/


html {
  scroll-behavior: smooth;
} /*it's for ux, a smooth navigation */

/*------ CSS Resets------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*delete margin and margin from all elements, and border box it's to avoid more space of a element*/

ul {
  list-style-type: none;/*deleting vignettes*/
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
    position: sticky; /*stick an element*/
    top: 0; /*attached at the top*/
    left: 0; /*attached at the left*/
    z-index: 1; /*will be displayed on top of other elements*/
    display: flex; /*flex container*/
    align-items: center;
    justify-content: space-between; /*distribute the elements within nav*/
    padding: 1.5rem 3.5rem; /*add a inner space on top, and below. Left and right*/
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .hamburger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    height: 37.5rem;
    width: 45.5rem;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }