@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


/* ------Variables------ */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #06096f;
  --secondary-color: #CF6DC8;
  --tertiary-color:#6DC8CF;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  /*--tertiary-color: #211f32;*/
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}/*setting variables of css*/


html {
  scroll-behavior: smooth;
} /*it's for ux, a smooth navigation */

/*------ CSS Resets------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*delete margin and margin from all elements, and border box it's to avoid more space of a element*/

/*--------------------------------------------------------------------------NavBar*/
ul {
  list-style-type: none;/*deleting vignettes*/
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
    position: sticky; /*stick an element*/
    top: 0; /*attached at the top*/
    left: 0; /*attached at the left*/
    z-index: 1; /*will be displayed on top of other elements*/
    display: flex; /*flex container*/
    align-items: center;
    justify-content: space-between; /*distribute the elements within nav*/
    padding: 1.5rem 3.5rem; /*add a inner space on top, and below. Left and right*/
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .hamburger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
/*--------------------------------------------------------------------------Hero*/
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    height: 30rem;
    width: 50rem;
    margin-top: 2em;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    vertical-align: middle;
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  /*Aplying the same style for headers2*/
  .bio h2:hover, .more-about h2:hover, .skill-header:hover,.contact h2:hover {
    color:var(--secondary-color);
  }

  .bio-titulo .icon {
    width: 30px; /* Tamaño del icono */
    height: 30px; /* Tamaño del icono */
    vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }

  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }
/*--------------------------------------------------------------------------moreAbout*/
  .more-about {
    background-color: var(--bg-color);
    margin-top: 30px;
    padding: 1rem 10rem;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: justify;
  }
/*--------------------------------------------------------------------------skills*/
  .skills {
    /*max-width: 68.75rem;*/
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: var(--bottom-margin-2);
  }
  
  .skills-wrapper img {
    padding: 1rem;
  }
  
  .icon {
    width: 10em;
    height: 10em;
  }
  .icon-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    margin: 10px;
  }
  /*--------------------------------------------------------------------------getintouch*/
  .contact{
    margin-top: 2em;
  }
  .contact h2{
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  .contact-form-container{
    max-width: 40rem;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }
  .contact-form-container label {
    line-height: 2em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px 0px;
    border: none;
    border-bottom: 2px solid var(--primary-color); 
    outline: none;
    font-family: var(--font-family); 
  }
  .contact-form-container .input-field:focus {
    border-bottom: 3px solid  var(--secondary-color);; /* Cambiar el color cuando el campo esté en foco */
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }
  .submit-btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    color: white;
  }

  /*--------------------------------------------------------------------------Formation*/
  .formation {
    background-color: var(--bg-color);
    margin-top: 30px;
    padding: 1rem 10rem;
  }
  
  .formation h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }

  #search-bar{
    display: flex;
    justify-content: center;
    margin-top: 1em;  
  }
  #searchInput {
    width: 80%;                
    padding: 0.5em;          
    font-size: var(--normal-font);        
    border-radius: 5px; /*round borders*/
    border: 2px solid #eeeeee;    /* Borde gris claro */  
  }
  
  #searchInput:focus {
    border: 2px solid var(--secondary-color);
  }

  .item{
    margin-top: 1em; 

  }

  /*--------------------------------------------------------------------------footer*/
  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }